<div class="text-center mt-5 p-5 m-5">
  <form class="form-signin border rounded" (submit)='signup($event)'>
    <img class="mb-4" src="assets/cart.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <hr>
    <p *ngIf='error' class="alert alert-danger">{{error}}</p>
    <p *ngIf='success' class="alert alert-success">{{success}}</p>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" id="name" class="form-control mb-2" name="name" placeholder="Your Name" required autofocus >
    <input type="email" name="email" id="inputEmail" class="form-control mb-2" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <input type="number" name="phone" id="phone" class="form-control mb-2" placeholder="Phone" required>
    <button class="btn btn-lg btn-light border rounded btn-block mb-2" type="submit">Create Account</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2021</p>
  </form>

</div>
    